# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Docker
*.dockerignore
docker-compose.override.yml
docker-compose.override.yaml
*.log
*.pid

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# GitHub workflows temp files
*.swp